/Projects/HelloWorld/nbproject/private/
/Projects/HelloWorld/build/
/Projects/LibraryCatalogue/nbproject/private/
/Projects/LibraryCatalogue/build/
/Projects/Animal/nbproject/private/
/Projects/Animal/build/
/Projects/Employee/nbproject/private/
/Projects/Employee/build/
/Projects/Canine/nbproject/private/
/Projects/Canine/build/
/Projects/CalenderPractice/nbproject/private/
/Projects/CalenderPractice/build/